

.intro{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 32rem;
}

.about-section{
    color: white;
}



.header2{
    color: #ffffff;
    font-size: 2rem;
}

/* .information{
    font-size: 1.06rem;
} */


@media only screen and (max-width:870px) {

    .about-section{
        /* position:; */
        right: 0;
    }
    
}