
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$Font: "Press Start 2P", cursive;

.connect{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 32rem;
    padding: 1rem;
}


.header4{
    color: #ffffff;
    color: #FAD4C0;
    font-family: $Font;
    font-size: 1.5rem;
}

.connect-list ul{
    padding:0;
    margin: 0;
    margin-top: 1rem;
}
.connect-list ul li{
      
      list-style-type: none;
      line-height: 1.5;
      font-size: 1.2rem;
      
}

.connect-list ul a{
   text-decoration: none;
   color: #ffffff;
   color: #D8BFD8;
}


.connect-list ul a:hover{
    font-weight: bold;
    color: #CA82E8;
}