body {
  margin: 0;
  font-family: 'Times New Roman',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #16161d; */
  background-color: white;
  /* background-color: #55535b;
  background-color: #9d9ba2; */
  background-color: #F0F4F9;
  background-color: #9DA69F;
  background-color: #d1d7d7;
  background-color: #0e0f23;
  background-color: black;
  background-color: #EAE6DA;
  background-color: #F5F5F7;
  background-color: #2C2C2C;
  background-color: #013D3C;
  background-color: #3E1F47;
  background-color: #3A1C71;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
