@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$Font: "Press Start 2P", cursive;

.projects-section {
  padding: 1.5rem 0 0 3rem;
  width: 30rem;
}

.header3 {
  color: #ffffff;
  color: #FAD4C0;
  font-family: $Font;
  font-size: 1.5rem;
}

.project-link{
  text-decoration: none;
  color: #ffffff;
  color: #D8BFD8;
}

.project-link:hover{
  color: #CA82E8;
}

.projects-list ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-top: 1rem;
  /* color: black; */
}
.projects-list ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1.2rem;
  /* color: black; */
}

.projects-list ul li:hover{
  font-weight: bold;
}

.project-images-div {
    display: flex;
    margin: auto;
    transition: 0.5s;
}

.project-image{
    width: 60rem;
    height: 35rem;
    margin-left: 26rem;
    margin-top: -19rem;
    /* opacity: hoveredProject ? 1 : 0,;
    transition: 'opacity 0.5s ease-in-out'; */
    
}
